body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 150%;
}

h5 {
	font-size: 90%;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.sidenav img {
	cursor: pointer;
	width: 65%;
}

.btn-group {
	width: auto;
}

.card p {
	font-weight: 500;
}

.badge {
	cursor: pointer;
}

.dropdown-menu {
	text-align: center;
	padding: 10px 0;
	min-width: 9rem;
	will-change: translate;
	transition: 700ms translate ease-in-out;
}

.dropdown-item {
	padding: 0;
}

.dropdown-item p {
	margin-bottom: 0;
}

.dropdown-item img {
	width: 85%;
}

.menu {
	display: flex;
	flex-direction: column;
	margin-left: 160px;
}

.dropdown-item i {
	font-size: 9px;
}

.dropdown-item:active {
	color: #000;
	background-color: #bdbcbc;
}

.on {
	color: #3dcc3d;
}

.off {
	color: #be3737;
}

.row > * {
	width: fit-content !important;
}

#dropdownIntegration img {
	width: 40%;
}

#dropdownIntegration .dropdown-item {
	padding: 10px;
}
